.navbar{
	clear: both;
	margin: 0 auto;
	display: block;
	width: 99.86%;
	background: linear-gradient(to bottom, rgba(186, 129, 41, 1) 0%, rgba(36, 26, 9, 1) 100%) repeat scroll 0 0 transparent;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top-width: 0;
	border-bottom-width: 0;
	min-height: inherit;

}

.navbar{
	button{
		@media (min-width: $screen-sm){
		    display: none;	
		}
	}
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

/* .collapse {
    display: none;
} */

.navbar-header {

	width: 100%;

	@media (min-width: $screen-sm){
	    float: left;	
	}
	
}





.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}


.navbar-nav {
    padding: 0;
    margin: 0;
    font-size: 0; //fight display: inline: block's unwanted margin

	> li {

	    //display: block;

	    > a{
		    text-decoration: none;
		    text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif; 
			font-weight: 400; 
			font-size:11pt;
			line-height: 10pt;
			padding: 10px 10px;
			color: #FAEFDC !important;
			text-shadow: 0 -1px 0 $color-black;

			&:hover{
			    background: linear-gradient(to bottom, #94651f 0%, #39270d 100%);
			}
	    }

		&.current_page_item > a, &.current-menu-parent > a,	&.current-menu-ancestor > a{
			background: linear-gradient(to bottom,  #c88a2d 0%,#4a3311 100%);
		}

		@media (min-width: $screen-sm){

			display: inline-block;

		}
	}

}


.nav > li, .nav > li > a {
    position: relative;
    //display: block;
}




.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (min-width: $screen-sm){
	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    padding-left: 0;
	    padding-right: 0;
	}
}


.navbar-collapse{
	@media (min-width: $screen-sm){

	    width: auto;
	    border-top: 0;
	    box-shadow: none;

		.collapse {
		    display: block!important;
		    height: auto!important;
		    padding-bottom: 0;
		    overflow: visible!important;
		}
			
	}

}




.nav-drop-submenu {
    position:relative;
}

.nav-drop > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.nav-drop:hover > .dropdown-menu {
    display:block;
}

.nav-drop > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.nav-drop:hover > a:after {
    border-left-color:#ffffff;
}

.nav-drop.pull-left {
    float:none;
}

.nav-drop.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

































































/* 

#menu-main-menu > li:last-child {
  border-right: 1px solid #533811;
  border-right: none;
}


#menu-main-menu  a:hover {
	background: linear-gradient(to bottom,  #94651f 0%,#39270d 100%);
}


@media screen and (max-width: 980px) {
	#menu-main-menu > li > a {
		padding: 0 10px;
	}
}

@media screen and (max-width: 800px){
	#menu-main-menu li ul {
		min-width:inherit;
	}
}


@media screen and (max-width: 700px){
	#menu-main-menu > li > a{
		padding: 0px 6px;
	}
}


*/