// Colors
$brand-primary:         #27ae60;
$color-black:           #000000;
$color-white:           #FFFFFF;
$color-gold : #986600;
$color-purple: #969698;

// Global options
$enable-flex:           true;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Vendor variables
$fa-font-path:          '~font-awesome/fonts';

$margin-width: 10px;
