#content ul{
    margin:0px 5px 5px 0px;
}





#content img{
    padding: 4px;
    box-shadow: 1px 1px 8px #32363F;
}


#content img:hover{
    box-shadow: 1px 1px 8px #505C65;
}

#logo {
    float: none;
    text-align: center;
}








#wrapper {
    background: rgba(0, 0, 0, 0.65);
    border: 0px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    border-radius: 0px;

    clear: both;
    margin: 0px auto 10px auto;
    padding: 0 20px 20px;
    padding: 0 ;
    position: relative;
}

body.home #wrapper{
    margin-top:0;
}

.widget-wrapper {
    background-color: #000000;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 20px;
    padding: 20px;
}

#content {
    margin-bottom: 20px;
    margin-top: 0px;
}

#content > div{
    padding:0 10px 0 15px;
}








pre {
    background: none ;
}



.post-entry {
    clear: none;
    width:100%;
}

.list{
    /*background: rgba(255, 255, 255, 0.18);*/
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26);
    margin:5px 0px 5px 0px;
    border:none !important;
    padding:0px;
}


.list > div{  padding: 10px !important;}

.list.half-col{
    width: 49.2%;
    min-width: 49.2%;
    max-width: 49.2%;
    float:left;
    display:inline-block;
    clear:none;
}


.list.half-col.videos-list{
    width: 49.2%;
    min-width: 49.2%;
    max-width: 49.2%;
    float:left;
    display:inline-block;
}



.single-classes .list.half-col{
    float:none;
}


.list.half-col > div{
    /*padding: 10px 1% !important;*/
}


.list.half-col.odd{
    clear:both;
}


.list.half-col.last{
    margin-bottom:10px;
}

.single-classes #content .list.half-col{
    margin-top:0px;
}


.post-entry a{
    width:100%;
}



.post-entry.list.half-col.even{
    margin-left:1.5%;
}


.list:hover{
    background: rgba(255, 255, 255, 0.2);
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.15);
}

.list.nohover:hover {
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26);
}

.list img, .list img.alignright{
    margin:0 0 5px 5px;
    padding:4px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0.8;

}

.list img.alignright, #accordion img.alignright{
    margin:5px 0 5px 5px;
    float:right;
}

#content .list:hover img{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    /*border: 1px solid red;*/
    box-shadow: 1px 1px 8px #505C65;
    opacity: 1;

}


.list h2 {
    display: inline-block;
}



.list .post-meta {
    clear: none;
}

.list .post-entry{
    clear: none;

}

.list .content-excerpt{
    color:#ffffff;
    margin: 7px 0 0 0;
}

.posted-on, .more-news-date{
    color:#71767D;
    text-shadow: 1px 1px 1px #000000;
}

.list h1, .list h1 a, .list h2, .list h2 a{ font-size:18pt;}

.list h1, .list h2{
    margin:0px;
    text-shadow: 2px 1px 1px #000000;
}


.list h1, .list h2, .list img{
    display:block;
}





#content h4, h4.block-title, .block-title, #content div.table .column-header {
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.35);
    background: rgba(255, 255, 255, 0.20);
    /*	-moz-box-shadow:    inset 0 0 4px #000000;
        -webkit-box-shadow: inset 0 0 4px #000000;
        box-shadow:         inset 0 0 4px #000000;
        border:#333333 1px solid;
    */}





.more-news-list {
    /*width:100%;*/
}

.more-news-item:hover{
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.18);
}

.more-news-item{
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.1);
    padding: 2px 5px;
    display: block;
    font-size:12pt;
    margin:2px 0;
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    display:block;
}

.more-news-list span.more-news-title {
    display:inline-block;
    padding-left:10px;
    vertical-align: top;
    width:76%;
}

.more-news-list span.more-news-date {
    width:15%;
    display: inline-block;
}

.see-all-news-link{float:right;}


.block-title {
    font-family: 'Armata',sans-serif;
    font-size: 12pt;
    font-weight: 800;
    padding: 6px;
    margin:0px;
    text-shadow: 2px 1px 1px #000000;
    text-transform: uppercase;
}




.posted-on{font-size:11pt;}

#content.single .posted-on{margin:0;margin-bottom:4px;}

#content p:first-of-type{
    padding-top:0px;
    margin-top:0px;
}



#content p:last-child{
    padding-bottom:0px;
    margin-bottom:0px;
}


.read-more {
    clear: none;
    display: inline;
    font-weight: 700;
}


h1, h2, h3, h4{
    font-family: 'Armata', sans-serif;
    font-weight: 800;

}

h2, h3, h4{
    text-shadow:1px 1px 2px #000;
}

h1{
    background-color: rgba(255, 255, 255, 0.23);
    text-shadow:2px 2px 2px #000;
    padding:10px;
    display:block;
    margin-bottom: 10px;
    margin-top: 5px;
    background-image:url(images/bg-yinyan.png);
    background-repeat:no-repeat;
    background-position:100% -10px ;
}

h1, h1 a{ font-size:25pt;}

h3{
    font-size:20pt;
    margin:5px 0 5px 0;
    color: #986600;
}


/*body,p,li,div,span{ font-family: 'Monda', sans-serif; font-weight: 400;}*/
/*body,p,li,div,span{ font-family: 'Roboto Condensed', sans-serif; font-weight: 400; font-size:12pt;}*/


.post-edit-link{
    display:block;
    clear:both;
    width: 70px;
}







table.wcs-schedule {
    font-size: 9pt;
}

table.wcs-schedule p {
    font-size: 9pt;
}

table.wcs-schedule th {
    font-weight:bold;
}

.fighter-info-table{
    margin-top:0px;
}

table.wcs-schedule {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    font-size: 9pt !important;
    margin-top:5px;

}

table.wcs-schedule th,
table.wcs-schedule td {
    background-color:none  !important;
    border: 2px solid #000000 !important;
    margin: 0 !important;
}

td.wcs-schedule-cell {
    padding: 0 !important;
}

.wcs-schedule td div {
    margin: 0 !important;
    min-height: 30px !important;
    padding: 0 !important;
    word-wrap: break-word !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;

}


.wcs-schedule td > div {
    /*max-width: 60px;*/
    /*display:inline-block;*/
}





table.wcs-schedule th {
    background: rgba(180, 186, 205, 0.18) !important;
    color: #969696 !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size:9pt !important;
    text-shadow:2px 1px 1px #171717 !important;
    width:30px !important;
    max-width:30px !important;
}

table.wcs-schedule td {
    background: rgba(180, 186, 205, 0.1) !important;
    color: #ffffff !important;
    width: 12% !important;
    text-shadow:2px 1px 1px #444340;
    overflow: auto;
}

td.wcs-schedule-cell.active {
    background: rgba(255,255,255,0.2) !important;
    background: rgba(180, 186, 205, 0.22) !important;
}

.wcs-active-div {
    background:none !important;
    background-color:none !important;
}

.wcs-class-details {
    background: rgba(0,0,0,0.8) !important;
    border-color: #969696 !important;
}

.wcs-schedule td div .wcs-class-details {
    width: 175% !important;
}

.wcs-active-div a {
    color: #976600 !important;
}








#screenres{
    background: rgba(255, 255, 255, 0.2);
    bottom: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 100;
    text-shadow:none;
    display:none;
}




td img{ display: block; margin: 0; width: 100%; max-width: none; }

table {
    border:none;
    max-width: 100%;
    /**/table-layout:auto;

}

th, td{
    border: 2px solid #000;
    border-top:none;

}

th {
    background: rgba(255, 255, 255, 0.2);
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.18);
    padding:6px;
    font-weight:bold;
    font-family: 'Armata', sans-serif; font-weight: 800;
    text-transform:uppercase;
    font-size:12pt;
    text-shadow:#000 2px 1px 1px;

}

th.sub-th{
    background: rgba(255, 255, 255, 0.17);
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26);
    padding:3px;
    font-weight:normal;
    font-family: 'Droid Sans', sans-serif;
    text-transform:uppercase;
    font-size:11pt;
}

td {
    background: rgba(255, 255, 255, 0.12);
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.1);
    padding:5px;
}





.ngg-galleryoverview{
    text-align:center;
    width:100%;

}

.ngg-album {
    height: auto;
}

div.ngg-description{
    margin-top:10px;
    color:#ffffff;
}


div.ngg-description p{
    color:#ffffff;
}

div.ngg-description p:last-child{
    margin-bottom:0px;
}

p.gallery-counter{
    margin:0px;
    font-size:9pt;
    text-align:center;
}

h4.block-title{
    padding: 10px 5px;
    text-shadow: 2px 1px 1px #000000;
    margin:3px 0;
    font-size:12pt;
    text-transform:uppercase;
    text-align:center;
    font-weight: 800;
}


.ngg-gallery-thumbnail {
    float: left;
    /*margin-right: 1%;*/
    text-align: center;
}


#content img{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px;
}


#content .content-img-wrap img:hover{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 8px #505C65;
}


#content .list img{
    padding: 5px;
}


#content .list.full-col img{
    width:100px;
}


#content .ngg-gallery-thumbnail img{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px;
    margin: 0 7% 14px 0;
    margin: 0 4% 14px 0;

}


#content .ngg-gallery-thumbnail img:hover,
.video-thumbnail img:hover,
.related-fighters div img:hover,
.video-gallery img:hover{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 8px #505C65;
}

.related-fighters img{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    background:transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px 0 4px 0px;
    padding: 6px;
    width: 130px;
}

.more-videos img, .video-gallery img{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    background:transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px 0 4px 0px;
    padding: 4px;
}

.more-videos img{
    width: 130px;
}


.list .ngg-thumbnail.alignright{
    margin-bottom:0px;
}

.related-fighters{
    margin-top:25px;

}

.related-fighters a{
    margin-left:10px;
    display:inline-block;
    float:left;
}


.related-fighters a:first-of-type{
    margin-left:0px;
}

.related-fighters h4{
    margin-bottom:12px;
}


.related-fighter{

    list-style:none;
    margin:0px;
}



.related-fighter-name{
    display:block;
    text-align:center;
    max-width:140px;
    line-height:15pt;

}


.related-photos{
    margin-bottom:25px;
}

.element-wrapper{
    margin:5px;
}

.video-gallery-name{
    text-align:center;
    margin-top:10px;
}


.related-video-title{
    font-weight:bold;
    padding:10px 0 5px 0;
}

.more-videos{
    margin-top:20px;
}

.more-videos h4{
    margin-bottom:12px;
}


.more-videos a, .video-gallery a{
    display:inline-block;
    /*margin-right: 8px;*/
    /*float:left;*/
    margin-right: 0px;
}

.more-video{
    display:inline-block;
    vertical-align: top;
}

.more-video-name{
    display:block;
    text-align:center;
    line-height:11pt;
    margin:4px 0;
    max-width: 115px;
}


.video-thumbnail{
    margin:0;
}

.video-thumbnail img{
    margin: auto;
    max-width: 95%;
}

.post-date{color:#fff;}

.text-ten-pt{
    font-size:10pt
}

.text-eleven-pt{
    font-size:11pt
}

.text-twelve-pt{
    font-size:12pt
}

.more-news{

}




div.mr_social_sharing_wrapper {
    border: 0 none !important;
    height: auto !important;
    line-height: 0 !important;
    margin: 0px 0 10px !important;
    padding: 0 !important;
    width: 100% !important;
}




div.social-media-links{
    float:right;
}


div.social-media-links span{
    float:left;
    display:inline-block;

}

.social-media-links a.rssbutton {
    background-image: url("images/rss.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 42px;
    outline: medium none;
    width: 42px;
}

.social-media-links a.youtubebutton {
    background-image: url("images/youtube.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 42px;
    outline: medium none;
    width: 42px;
}

.social-media-links a.twitterbutton {
    background-image: url("images/twitter.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 42px;
    outline: medium none;
    width: 42px;
}

.social-media-links a.facebookbutton {
    background-image: url("images/facebook.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 42px;
    outline: medium none;
    width: 42px;
}


.social-media-links a.facebookbutton:hover,
.social-media-links a.twitterbutton:hover,
.social-media-links a.youtubebutton:hover,
.social-media-links a.rssbutton:hover{
    background-position: 0 -42px;
}







.fsb-social-bar{
    width:35% !important;
}

#fsb-social-bar div {
    /*width: 80px !important;*/
}



#header a.button{
    font-weight:normal;
    border-radius: 8px;
    line-height: 27px;
}

.header-left, .header-right, .header-center{
    display:inline-block;

}

.header-left, .header-right{
    min-width:23.5%;
    max-width:24.5%;
    /*background-color:grey;*/
    vertical-align: top;
    padding-top:10px;
}

.header-center{
    width:50%;
    padding-top:10px;
    /*background-color:red;*/
}

.album-wbba h4.block-title{
    text-align:left;
}


body{
    background:url(images/bg1.jpg) no-repeat center;
    background-color: rgba(0, 0, 0, 1);
    background-position:top;
}

.breadcrumb-list {
    padding:5px 0;
}

.breadcrumb-list a, .breadcrumb-list span {
    font-size: 11pt;
    padding:0 5px;

}



/*

a, div, li, span, img{
	transition: all 0.4s ease-in-out;
}

a{
	transition: all 0.4s ease-in-out;
}

*/

#header-image {
    height: 250px;
    width: 960px;
}

h1.entry-title, h1.post-title, h1.list-page-title, h1.page-title{
    margin-top:0px;
    line-height:1.2em;
}


#content h4{
    font-size: 12pt;
    font-weight: 800;
    margin: 20px 0 3px 0;
    padding: 10px 5px;
    text-align: center;
    text-shadow: 2px 1px 1px #000000;
    text-transform: uppercase;
    clear:both;
}

#content table{
    margin-top:20px;
}



#content div.table{
    margin-top:20px;
    display:block;
}

#content div.table .column,
#content div.table .column-header{
    margin: 0 0 4px 0;

}


#content div.table .column{
    font-weight: 400;
    vertical-align: top;
    /*padding:10px;*/
}

/*#content div.table .column-header{
	background: none repeat scroll 0 0 rgba(180, 186, 205, 0.18);
	margin: 0 0 3px 0;
}*/


#content div.table .column-header,
#content div.table .column-header span{
    font-weight: bold;
    font-family: 'Armata',sans-serif;
    text-transform:uppercase;
    text-align: center;
    text-shadow: 2px 1px 1px #000000;
}

#content div.table .column,
#content div.table .column-header,
#content div.table .column span,
#content div.table .column-header span{
    display:inline-block;
}


#content div.table .column span{
    width:auto;
    padding: 7px 10px;
    max-width:100%;

}

#content  div.table .column span .ccb_single_video_player{
    max-width:92% !important;

}

#content div.table .column-header span{
    padding: 7px 5px;
}



#content div.table div span{
    padding: 2px 5px;
}

#content div.table .single{
    width:100%;
}


#content div.table .half{
    width:49.6%;
    width:49%;
}


#content div.table .third{
    width:32.85%;
}



#content div.table .quarter{
    width:24.5%;
}

html,body {
    height:100%;
}



.row-content{
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.1);
    margin-bottom:2px;
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26);
    /*border: medium none !important;
    margin: 5px 0;
    padding: 10px !important;
    */
}



.wrapword{
    word-wrap: break-word;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;

}



.alignright, a img.alignright{
    float: right;
    margin: 0 0 10px 10px;
}



.alignright img{
    margin:0 0px 5px 5px;
}

.alignleft {
    float:left;
    margin: 0px 0 0px 0px;
}

.text-content-wrap{
    width:100%;

}


.content-img-wrap{
    /*
    display:inline-block;
    width:49%;
    */

}



.wpsr-floatbar-float_left, .wpsr_shareminbt{
    display:none !important;

}

.wp-socializer ul li {
    margin: 0 2px 5px 0 !important;
}


.ui-accordion .ui-accordion-content {
    padding: 10px !important;
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.12);
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26);
    border: medium none !important;
    margin: 5px 0;
    padding: 10px !important;
    color: #fff;
    font-family: 'Droid Sans',sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height:1.5em;
    height: auto !important;
}


.ui-accordion .ui-accordian-header{


}

.ui-accordion .ui-state-active,
.ui-accordion .ui-widget-content .ui-accordion .ui-state-active,
.ui-accordion .ui-widget-header .ui-state-active {
    background: none repeat scroll 0 0 rgba(180, 186, 205, 0.26) !important;
    border: 1px solid #AAAAAA;
    border: 1px solid rgba(255,255,255,0.2);
    color: #212121;
    font-weight: normal;
}


.ui-accordion h2.ui-accordion-header{
    color: #986600;
    text-shadow:1px 1px 0px #000;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /*background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/
    background: rgba(180, 186, 205, 0.15) !important;
    border: 1px solid rgba(255,255,255,0.2) !important;
}



.cycle h3{
    margin:0px 0px 5px 0px;
    font-size:16pt;
}



.cycle .list.half-col{
    min-height:220px;
    width: 50.5%;
    /*min-width: 48.5%;
    max-width: 48.5%;*/
    min-width: inherit;
    max-width: inherit;
}





.cycle .list.half-col > div{
    padding:2px 5px 5px 5px;


}



#content .cycle  img {
    margin: 5px 0px 0px 5px;
    max-width:45.5%;
}



#content .cycle{
    width:100% !important;
    /*height:auto !important;*/
    /*min-height:inherit !important;*/
    /*min-height:auto !important;*/
    padding-bottom:10px;
}



#content .cycle > div{
    width:100% !important;
    /*height:auto !important;*/
    /*min-height:inherit !important;*/
    /*min-height:auto !important;*/
}



#next1{float:right;}

.prev.left{float:left;}
.next.right{float:right;}

#widgets {
    display: none;
    margin-top: 0;
}



#content {
    margin-bottom: 0;
}


.control-btns{
    height:30px;
    display: block;
}


.control-btns a{
    display: inline-block;
}


.margin-top-ten{
    margin-top:10px;
}

.margin-top-fifteen{
    margin-top:15px;
}

.margin-top-twenty{
    margin-top:20px;
}



button{
    cursor:pointer;
}


.header-text{
    font-size:14pt;
    font-weight:bold;
    text-transform:uppercase;
}

.header-text.phone-number{}

.header-text.offer{}

.header-left-mobile{
    display:none;
    margin-bottom:15px;
}


.locate-us{
    float:left;
    display:inline-block;
    margin-right:2%;
}

.locate-us.google-map{
    margin: 5px  0 0 0;
    /**/max-width:48.4%;
}

.google-map iframe{
    max-width:100%;
}

#footer-wrapper .grid.col-940 {
    margin: 0 0 20px 0;
}

#footer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align:center;
    line-height:25px;
}


.footer-menu {
    margin: 8px auto 20px auto;
    padding: 0;


}

.footer-menu li a, #footer a{

    color:#ffffff;
}

.footer-menu li a{
    font-size:9pt;
}

#footer .logo-wordpress{
    margin-right:20px;

}

#footer .footer-left{
    float:left;
    width:50%;
    padding:0;
    margin:0;
    text-align: left;
}

#footer .footer-right{
    float:right;
    width:50%;
    padding:0;
    margin:0;
    text-align: right;
}

#footer .footer-left, #footer .footer-right{

    margin-bottom:20px;

}



.ngg-album-link-back {
    margin-top:55px;
}


.ngg-album-link-back img{
    margin-bottom:0px;
}


img.attachment-medium{
    max-width:250px;
}


img.attachment-thumb-width-600{
    max-width:285px;
}


.content-img-wrap button {
    float: right;
    margin-top: 10px;
    width:300px;
}


.single-classes #content div.alignright {
    float: right;
    margin: 0px;
    /*margin: 0;*/
}


#searchform #searchsubmit{
    float:right;
    margin-top:10px;

}

.error404 select,
.error404 input[type="text"],
.error404 input[type="password"],
.error404 input[type="email"],

.searchform select,
.searchform input[type="text"],
.searchform input[type="password"],
.searchform input[type="email"]{

    width: 100%;
}




html > body .ngg-album {
    padding: 0px;
}


#accordion img.alignright {
    max-width: 45.5%;
}

.pp_description{
    color:#000;
    text-shadow:none;
}


.pp_nav, .pp_nav *{
    color:#666666;
    text-shadow:none;
}

@media only screen and (max-width: 1024px){

    .single-classes #content .list.half-col{
        width: 47.5%;
        min-width: 47.5%;
        max-width: 47.5%;
        margin:0px;
    }


}

@media screen and (max-width: 980px) {

    .content-img-wrap button {
        float: right;
        margin-top: 10px;
        width: 252px;
    }

    .single-classes #content div.alignright{
        max-width:260px;
        margin-right:5px;
    }

    .single-classes #content div.alignright img{
        max-width:94%;
    }

    .single-classes #content .list.half-col{
        max-width: 42.5%;
        min-width: 40%;
        width: 30%;
    }

    #content a img.alignright {
        float: right;
        margin: 5px 0 10px 10px;
        /*margin: 0;*/
    }


    .content-img-wrap{

    }

    .header-center {
        width: 100%;
        clear:left;
        display:block;
    }


    .header-left {
        display:none;
    }

    .header-left-mobile{
        width: 100%;
        min-width:100%;
        max-width:100%;
        text-align:center;
        display:block;
        color:#2B2B2B;
        margin-bottom:0;
    }

    .header-left-mobile > div{
        display:inline-block;
        text-shadow:1px 1px 1px #868EAA;
        background: rgba(255,255,255,0.9);
        color: #811A1A;
        border: 1px #ACB1C6 solid;
        margin-bottom:10px;
        width:48%;
    }

    .header-left-mobile div div{
        padding: 5px 8px;
        font-size:16pt;
    }

    .header-left-mobile .offer{
        margin-left:20px
    }

    .header-right {
        width: 100%;
        min-width:100%;
        max-width:100%;
        text-align:center;
        display:block;
    }

    .header-right div.social-media-links {
        float: none;
        display:block;
        margin-bottom:10px;

    }

    .header-right div.social-media-links span {
        display: inline-block;
        float: none;
    }


    .alignleft {
        float: left;
        margin: 0px 10px 10px 0;
    }



    #content .ngg-galleryoverview{
        margin-left:4%;
        margin-right:4%;
        margin:0;

    }

    #content .ngg-gallery-thumbnail img{
        margin: 0 6% 14px 0;
        max-width: 110px;
    }

    .cycle .list.half-col{
        width: 49%;
    }


}


@media only screen and (max-width: 768px) {

    .header-left-mobile > div{
        width:47.5%;
    }

    .single-classes #content img {
        padding: 6px;
    }

    .single-classes .list.half-col{
        width:48%;
        max-width:48%;
        min-width:40%;
    }

    .list.locate-us{
        text-align:center;
    }

    .google-map, .google-map iframe, .list.locate-us.half-col{
        width:100%;
        min-width:100%;
        max-width:100%;
    }

    .text-content-wrap{
        /*width:43%;*/
    }

    .content-img-wrap {
        max-width:65%;
    }

    .content-img-wrap img{
        /*float:none !important;*/
    }

    .wbba-side-area{
        display:none;
    }

    .col-620{
        width:100%;

    }

    #container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 10px;
    }

    #content .ngg-gallery-thumbnail img{
        margin: 0 4% 10px 0;
        max-width: 108px;
    }

}

@media screen and (max-width: 650px){

    .single-classes #content img {
        padding: 4px;
    }


    .single-classes .list.half-col{
        width:35%;
        max-width:35%;
        min-width:20%;
    }


    #content .cycle#front_programs_cycle{
        /*height:280px !important;*/
    }


    #footer .footer-left{
        width:40%;
    }

    #footer .footer-right{
        width:60%;
    }



    #content .ngg-gallery-thumbnail img{
        max-width: 106px;
    }

    #content .ngg-gallery-thumbnail img{
        margin: 0 3% 10px 0;
        max-width: 105px;
    }



    #content .cycle .list.half-col{
        width: 48.5%;
    }


    .content-img-wrap button {
        float: right;
        margin-top: 10px;
        width: 240px;
    }

    .single-classes #content div.alignright{
        max-width:245px;
        margin-right:5px;
    }

    .single-classes #content div.alignright img{
        max-width:94%;
    }

    .single-classes #content .list.half-col{
        max-width: 40%;
        min-width: 40%;
        width: auto;
    }


    #accordion img.alignright {
        float: none;
        text-align:center;
        max-width:100%;
        margin:auto;
    }

    .header-left-mobile > div{
        width:46.5%;
    }

    .cycle .cycle-slide .list p{
        line-height: 15pt ;
    }


}






@media screen and (max-width: 480px) {
    /*	.content-img-wrap button {
          float: right;
          margin-top: 10px;
          width: 150px;
        }

        .single-classes #content div.alignright{
            max-width:265px;
            margin-right:5px;
        }


        .single-classes #content .list.half-col{
            max-width: 44.5%;
            min-width: 44%;
            width: 30%;
        }

    */


    .single-classes #content div.alignright{
        max-width:100;
        margin:0px;
        float:none;
    }


    .single-classes #content div.alignright img{
        max-width:100%;
    }

    .single-classes #content .list.half-col{
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }

    .single-classes #content .list.half-col *{
        text-align:center;
    }

    .content-body, #content{
        text-align:center;

    }

    .breadcrumb-list{
        display:none;
    }

    .more-news-list span.more-news-date {
        width: 20%;
    }

    #footer .grid {
        display:block;
        float:none;
        text-align:center;
        width:100%;
    }


    h1, h1 a {
        font-size: 20pt;
    }

    #content > div {
        padding: 5px;
    }

    .content-img-wrap {
        min-width:100%;
        max-width:100%;
        display:block;
        margin:0;
        text-align:center;
    }

    .content-img-wrap img{
        min-width: 95%;
        max-width:95%;

        margin:10px auto;
        float:none;
        text-align:center
    }

    .text-content-wrap {
        clear: both;
        display: block;
    }

    .alignright img, a img.alignright {
        /*float: none;*/

    }

    .ngg-album-link-back img{
        min-width:inherit;

    }

    .list img.alignright{
        float: right;
    }

    .ngg-gallery-thumbnail  {
        margin: 0px;
        padding: 0px;
    }

    .ngg-gallery-thumbnail img {
        margin: 1px 0 1px 1px;
        padding: 2px;
        max-width:80%;

    }
    .ngg-gallery-thumbnail,
    .ngg-gallery-thumbnail a,
    .ngg-gallery-thumbnail img {
        /*display:inline-block;*/

    }

    #rev_slider_1_1_wrapper{
        display:none;
    }


    #content .list.half-col{
        width: 100%;
        margin:0px 0 10px 0 ;
        padding: 0px !important;
        text-align:center;
        min-height: inherit;
    }

    #content .list.half-col > div{
        padding:10px;
    }

    #content .post-entry,
    #content .list.half-col,
    #content .cycle img{
        /*width: 100%;*/
        min-width: auto;
        max-width:100%;
        display:block;
        clear:both;
        float:none;
        min-width: 100%;
    }

    #content .cycle .img-wrap{
        max-width:100%;
    }

    #content .cycle img {
        margin: 0 auto;
        max-width: 95%;/*because of unavoidable img padding*/
        min-width: 95%;/*because of unavoidable img padding*/
        width: 95%;/*because of unavoidable img padding*/
    }

    #content .cycle .list.half-col{
        margin-top:15px;
    }


    #content .cycle#front_programs_cycle{
        /*min-height:600px !important;*/
        /*max-height:750px !important;*/
    }


    .cycle .list.half-col{
        max-height:inherit !important;
        min-height:inherit!important;/**/
    }



    #accordion img{
        /*float: left;*/
    }

    .header-left-mobile > div {
        display:block;
        width:100%;

    }

    .header-left-mobile .offer{
        margin-left:0px
    }

    #menu-footer-menu{
        display:none;

    }

    .footer-logo{
        display:block;
    }

    .footer-logo.logo-wc3{
        margin:20px 0;

    }

    .footer-logo.medusa{
        margin-bottom:10px;

    }


    #footer{
        padding:0px;
        max-width:100%;
        width:100%;
        margin-top:15px;
    }

    #footer-wrapper{

    }


    .footer-address{
        background:rgba(255,255,255,0.2);
        padding:10px
    }

    .content-img-wrap button {
        float: none;
        margin: 10px 0px 10px 0px;
        width:100%;
        text-align:center;
    }

    .wp-socializer{
        text-align:center;
        margin:0px 0 10px  0;
    }


    .wp-socializer ul li {

    }

    .list p, .list h2, .list div{

        /*text-align:left;*/
    }

    .more-news-list div{
        text-align:left;
    }

    .more-news-list span.more-news-title {
        width: 74%;
    }

}

@media screen and (max-width: 380px) {

    .alignright img, a img.alignright {
        max-width:96%;
    }



}

@media screen and (max-width: 320px) {


}

@media screen and (max-width: 240px) {

}







/*
*/











