{% extends "templates/base.twig" %}

{% block content %}

	<h1 id="page-title">{{ title }}</h1>

	<div class="list-posts list-{{ post_type }}">
		<div class="wrap">
			{% for post in posts %}
				{% include ["templates/partials/tease-"~post_type~".twig", "templates/partials/tease-post.twig"] %}		
			{% endfor %}
		</div>
	</div>

{% endblock %}