<footer class="content-info">
    <div class="container">
        {{ function('dynamic_sidebar', 'sidebar-footer') }}

        <div class="wrap">
	        <div class="address">
	        	{{ address_str }}
	        </div>
	        <div class="trademark">
	        	@Walsall Blackbelt Academy College 2016. All rights reserved.
	        </div>
        </div>

    </div>
</footer>

{{ function('wp_footer') }}
